.header-ctn {
    width: 100%;
    position: relative;
}

.header-ctn * {color: #8ea8c3;}
.header-ctn>* {display: inline-block;}

.logo-ctn {
    margin-left: 3%;
}

.logo-ctn div {
    display: flex;
    padding: 10px;
    align-items: center;
}

.logo-ctn div span {
    height: 40px;
    width: 3px !important;
    background-color: #000;
    border-radius: 99px;
    margin: 0 20px;
}

.logo-title{
    color: #000 !important;
}